<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>攝氏/華氏轉換計算機</title>
</head>
<body>
    <div id="app">
        <h2>你考幾分呢？</h2><br/>
        <input type="text" v-model="score">
        <div v-if="score>=60">很棒，你及格了！</div>
        <div v-else="score<=59">不及格！</div>
        
        <h2>顏色列表</h2>
        <ul>
            <li v-for="color in colors">{{color}}</li>
        </ul>

        <h2>各家庭的父親</h2>
        <ul>
            <li v-for="home in homes" v-on:click="myFa(home.father)">{{home.father}}</li>
        </ul>

        <h2>點擊扣十元</h2>
        {{price}}
        <input type="button" value="點擊扣十元" v-on:click="sell">

        <h2>攝氏/華氏轉換計算機</h2>
        <input type="text" placeholder="輸入攝氏溫度" v-model="celsius"><br/>
        <span>換算過的華氏溫度：{{fahrenheit}}</span>
        <h2>BMI比較表</h2><br/>
        路人A體脂肪：<input type="text" v-model="a"><br/>
        路人B體脂肪：<input type="text" v-model="b"><br/>
        <!-- {{a}},{{b}} -->
        <ul>
            <li>臺灣男性平均BMI：{{BMI}}</li>
            <li>A跟B誰比較重？{{whoHeavey}}</li>
            <li>A跟大家的體脂肪差異多少？{{judgeA}}</li>
            <li>B跟大家的體脂肪差異多少？{{judgeB}}</li>
        </ul>
        <h2>台幣匯率轉換計算機</h2>
        輸入台幣：<input type="text" v-model="NT">
        <ul>
            <li>日幣：{{japan}}</li>
            <li>美金：{{US}}</li>
        </ul>
    </div>
    <!-- 
        v-model.number
        methods可以帶參數，computed不能帶參數
        computed具有資料緩存的功能
    -->


    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.3/vue.js"></script>
    <script>

        const app = new Vue({
            el: '#app',
            data: {
                score: 0,
                loading: false,
                colors: ['blue', 'red', 'black'],
                homes: [
                    {father: 'tom'},
                    {father: 'bob'},
                    {father: 'john'},
                ],
                price: 100,
                celsius: 0,
                a: 0,
                b: 0,
                BMI: 20,
                NT: 0,
            },
            methods: {
                myFa: function(father){
                    alert('我的爸爸是'+father)
                },
                sell: function(){
                    this.price -= 10;
                }
            },
            computed: {
                fahrenheit: function(){
                    return this.celsius * 9/5 + 32;
                },
                whoHeavey: function(){
                    console.log(this.a, this.b);
                    if(this.a > this.b){
                        return 'A比較重'
                    }else if(this.a < this.b){
                        return 'B比較重'
                    }else{
                        return 'A跟B一樣重'
                    }
                },
                judgeA: function(){
                    return this.a - this.BMI
                },
                judgeB: function(){
                    return this.b - this.BMI
                },
                japan: function(){
                    return 'NT' + this.NT * 0.23
                },
                US: function(){
                    return 'NT' + this.NT * 30.26
                }
            },
            
        })
    </script>
</body>
</html>