<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>029列表渲染</title>
    <script type="text/javascript" src="./js/vue.js"></script>
</head>
<body>
    <div id="root">
        <!-- 
            v-for指令
            1.用於展示列表數據
            2.語法：v-for="(item, index) in xxx" :key="yyy"
            3.可遍歷：數組、對象、字符串﹙用的很少﹚、指定次數﹙用的很少﹚
         -->
        <!-- 遍歷數組 -->
        <h2>人員列表﹙遍歷數組﹚</h2>
        <ul>
            <!-- v-for能遍歷，加在誰身上，就遍歷誰。persons指：這個數組長度是多少，就遍歷多少次﹙遍歷=循環？﹚ -->
            <!-- <li v-for="p in persons" :key="p.id"> 
                {{p.name}}-{{p.age}}
            </li> -->
            <li v-for="(p, index) in persons" :key="index">
                {{p.name}}  ----  {{p.age}}  ---- {{index}}
            </li>
        </ul>

        <!-- 遍歷對象 -->
        <h2>汽車信息﹙遍歷對象﹚</h2>
        <ul>
            <li v-for="(value,k) of car" :key="k">
                {{k}}  ----  {{value}} 
            </li>
        </ul>

        <!-- 遍歷字符串 -->
        <h2>測試遍歷字符串﹙用得少﹚</h2>
        <ul>
            <li v-for="(char,index) of str" :key="index">
                {{char}}  ----  {{index}} 
            </li>
        </ul>

        <!-- 遍歷指定次數 -->
        <h2>測試遍歷指定次數﹙用得少﹚</h2>
        <ul>
            <li v-for="(number,index) of 5" :key="index">
                {{index}}  ----  {{number}} 
            </li>
        </ul>
    </div>    



    <script>
        Vue.config.productionTip = false

        new Vue({
            el: '#root',
            data:{
                persons:[
                    {id:'001', name: '張三', age: 18},
                    {id:'002', name: '李四', age: 19},
                    {id:'003', name: '王五', age: 20}
                ],
                car:{
                    name: '奧迪A8',
                    price: '70萬',
                    color: '黑色'
                },
                str: 'hello'
            }
        })
    </script>
</body>
</html>