<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>todomvc</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <style>
        *{
            margin: 0;
            padding: 0;
            max-width: 100%;
        }
        body{
            font-size: 14px 'Helvetica Neue', Helvetica, Arial, Sans-serif;
            line-height: 1.4em;
            font-weight: 300;
            position: relative;
            background-color: #f5f5f5;
        }
        .wrap{
            position: relative;
            margin: auto;
            height: 100vh;
        }
        .todoapp{
            position: relative;
            box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
            border-radius: 12px;
            /* background-color: #fff; */
            /* width: 400px;
            height: 400px; */
            top: calc((100% - 400px)/2); 
            margin: auto;
        }
        .completed {
            text-decoration: line-through;
        }
    </style>
</head>
<body>
    <div class="wrap">
        <section class="todoapp container mt-4">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">待辦事項</span>
                </div>
                <input type="text" placeholder="準備要做的任務" class="form-control" v-model="newTodo" @keyup.enter="addTodo">
                <div class="input-group-append">
                    <button type="button" class="btn btn-primary" @click="addTodo">新增</button>
                </div>
            </div>
            <div class="card text-center">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item"><a href="#" class="nav-link" :class="{'active': visibility == 'all'}" @click="visibility='all'">全部</a></li>
                        <li class="nav-item"><a href="#" class="nav-link" :class="{'active': visibility == 'active'}" @click="visibility='active'">進行中</a></li>
                        <li class="nav-item"><a href="#" class="nav-link" :class="{'active': visibility == 'completed'}" @click="visibility='completed'">已完成</a></li>
                    </ul>
                </div>
                <ul class="list-group list-group-flush text-left">
                    <li class="list-group-item" v-for="(item, key) in filteredTodos" @dblclick="editTodo(item)">
                        <div class="d-flex" v-if="item.id !== cacheTodo.id">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" v-model="item.completed" :id="item.id">
                                <label class="form-check-label" :for="item.id" :class="{'completed': item.completed}">{{item.title}}</label>
                            </div>
                            <!-- <button type="button" class="close ml-auto" aria-label="Close" @click="removeTodo(key)"><span aria-hidden="true">&times;</span></button> -->
                            <button type="button" class="close ml-auto" aria-label="Close" @click="removeTodo(item)"><span aria-hidden="true">&times;</span></button>
                        </div>
                        <input type="text" class="form-control" v-if="item.id == cacheTodo.id" v-model="cacheTitle" @keyup.esc="cancelEdit" @keyup.enter="doneEdit(item)">
                    </li>
                    <!-- <li class="list-group-item">
                        <input type="text" class="form-control">
                    </li> -->
                </ul>
                <div class="card-footer d-flex justify-content-between">
                    <span>還有 {{undoneTodos.length}} 筆任務未完成</span>
                    <a href="#" @click="removeAll">清除所有任務</a>
                </div>
            </div>
        </section>
    </div>

    <!-- v-bind:id指令，用來控制「一般」屬性 -->
    <!--比如在data裡設subtotal的值是10，把{{subtotal}}寫在「HTML網頁模版」，<h1>{{subtotal}}</h1> -->
    <!-- <h1>10<h1/> -->
    <!-- 但即使在data裡設customId為a1，把{{customId}}寫在「標籤」，比如<p id="{{customId}}"><p/>，也顯示不出來 -->
    <!-- 因此要在「標籤」裡顯示data內容，則要用v-bind -->
    <!-- <p v-bind:id="customId"><p/> -->
    <!-- <p v-bind:id="a1"><p/> -->
    <!-- v-bind:class指令，用來控制「標籤」的class與style -->
    <!-- 比如：當message的內容長度超過10個字，就自動加上error的class -->
    <!-- <div v-bind:class="{'error': message.length > 10}"><div/> -->

    
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.3/vue.js"></script>
    <script>
        var app = new Vue({
            el: '.todoapp',
            data: {
                newTodo: '',
                todos:[
                    {
                        id: '123',
                        title: '待辦事項',
                        completed: true,
                    }
                ],
                visibility: 'all',
                cacheTodo: {},
                cacheTitle: '',
            },
            methods: {
                addTodo: function(){
                    var value = this.newTodo.trim(); //消除前後空白
                    var timeStamp = Math.floor(Date.now());
                    if(!value){
                        return; //若內容為空白就終止 function
                    }
                    this.todos.push({
                        id: timeStamp,
                        title: value,
                        completed: false
                    });
                    this.newTodo = '';
                },
                removeTodo: function(todo){
                    var newIndex = '';
                    var vm = this;
                    vm.todos.forEach(function(item, key){
                        if (todo.id === item.id){
                            newIndex = key;
                        }
                    })
                    // this.todos.splice(key, 1);
                    this.todos.splice(newIndex, 1);
                },
                editTodo: function(item){
                    this.cacheTodo = item;
                    this.cacheTitle = item.title;
                },
                cancelEdit: function(){
                    this.cacheTodo = {}
                },
                doneEdit: function(item){
                    item.title = this.cacheTitle;
                    this.cacheTitle = '';
                    this.cacheTodo = {}
                },
                removeAll: function(){
                    this.todos = [];
                },
            },
            computed: {
                filteredTodos: function(){
                    if(this.visibility == 'all'){
                        return this.todos;
                    }else if(this.visibility == 'active'){
                        var newTodos = [];
                        this.todos.forEach(function(item){
                            if(!item.completed){
                                newTodos.push(item);
                            }
                        })
                        return newTodos;
                    }else if(this.visibility == 'completed'){
                        var newTodos = [];
                        this.todos.forEach(function(item){
                            if(item.completed){
                                newTodos.push(item);
                            }
                        })
                        return newTodos;
                    }
                },
                undoneTodos: function(){
                    return this.todos.filter(todo => todo.completed != true);
                }
            }
        })
    </script>
</body>
</html>